<link rel="stylesheet" href="login-admin.component.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<body>
  <div class="container-adlog-form">
    <div class="forms">
      <form
        id="form-container-login-admin"
        [formGroup]="adForm"
        #adminForm="ngForm"
        (ngSubmit)="loginAdmin(adminForm.value)"
      >
        <div class="form-content">
          <div class="adlog-form">
            <div class="title">Đăng nhập quản trị viên Glowy</div>
            <div class="rowcontainer">
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input
                    type="text"
                    placeholder="Email"
                    required
                    id="email"
                    class="form-control"
                    formControlName="email"
                    name="email"
                    [(ngModel)]="admin['email']"
                    [class.is-invalid]="email.invalid && email.touched"
                    [required]="true"
                  />
                </div>
                <div *ngIf="email.invalid && email.touched" class="my-2">
                  <small *ngIf="email.errors?.['required']" class="text-danger"
                    >Email không được để trống!</small
                  >
                  <small *ngIf="email.errors?.['email']" class="text-danger"
                    >Email không hợp lệ!</small
                  >
                </div>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input
                  type="password"
                  name="pass"
                  id="password"
                  class="form-control"
                  formControlName="pass"
                  [class.is-invalid]="pass.invalid && pass.touched"
                  [(ngModel)]="admin['pass']"
                  [required]="true"
                  placeholder="Mật khẩu"
                  required
                />
              </div>
              <div *ngIf="pass.invalid && pass.touched" class="my-2">
                <small *ngIf="pass.errors?.['required']" class="text-danger"
                  >Mật khẩu không được để trống!
                </small>
                <small *ngIf="pass.errors?.['minlength']" class="text-danger"
                  >Mật khẩu bắt buộc từ 8 ký tự trở lên!</small
                >
              </div>
              <div class="row justify-content-center">
                <div class="button input-box">
                  <input
                    type="submit"
                    class="btn btn-dark"
                    [disabled]="!adForm.valid"
                    value="Đăng nhập"
                  />
                </div>

                <div class="mb-4 mt-2">
                  <a
                    routerLink="/login"
                    routerLinkActive="active"
                    class="item logadmin text-black"
                    ><i
                      class="fas fa-solid fa-right-to-bracket fa-flip-horizontal"
                      style="color: #000000;  "
                    ></i>
                    Trở về trang đăng nhập</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
