<div>
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="about__pic">
            <img src="../../assets/images/banner/banner.png" alt=" " />
            <h3>Giới thiệu Thương hiệu</h3>
            <p style="text-align: justify">
              Glowy là cửa hàng bán lẻ trực tuyến các loại mỹ phẩm chất lượng
              cao được phát triển bởi các thương hiệu uy tín trên thế giới cùng
              đội ngũ nghiên cứu dày dặn kinh nghiệm về lĩnh vực da liễu. Glowy
              tham gia vào thị trường bán lẻ mỹ phẩm với ba dòng sản phẩm chính,
              đó là chăm sóc da mặt, chăm sóc tóc và chăm sóc cơ thể. Glowy
              hướng tới những người phụ nữ trẻ trung, có thu nhập ổn định, dù
              bận rộn nhưng vẫn luôn quan tâm và chăm chút đến vẻ bề ngoài của
              mình.
            </p>
            <p>
              Cái tên “Glowy” ra đời với thông điệp “Luôn là chính mình - Tự tin
              tỏa sáng”. Với những sản phẩm có công thức sản xuất hoàn toàn sạch
              cùng những thành phần tinh khiết, Glowy mong muốn khách hàng có
              thể tự tin là chính mình, có thêm động lực thể hiện bản thân, luôn
              tỏa sáng theo cách riêng của mình trong mọi hoàn cảnh.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <h3>GLowy Beauty</h3>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="about__item">
            <img src="../../assets/images/about/image4.jpg" alt=" " />
            <h4>Tầm nhìn</h4>
            <p>
              Glowy định vị mình là một thương hiệu kinh doanh mỹ phẩm chăm sóc
              toàn thân từ mặt, tóc đến cơ thể với chất lượng cao, nguồn gốc rõ
              ràng, thành phần tinh khiết, an toàn, hiệu quả phù hợp với làn da
              Việt. Không cầu kì và phức tạp, thương hiệu muốn tạo ra những sản
              phẩm phục vụ và đáp ứng được nhịp sống hiện đại tất bật của người
              phụ nữ trưởng thành, hiện đại, đồng thời vẫn tạo ra vẻ ngoài cá
              tính và nổi bật. Với mong muốn mang đến cho khách hàng sản phẩm
              với chất lượng quốc tế, giá thành phải chăng phù hợp với người
              tiêu dùng Việt, Glowy tin rằng, khách hàng có thể tự tin thể hiện
              bản thân mỗi ngày, luôn tỏa sáng trong mọi hoàn cảnh.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="about__item">
            <img src="../../assets/images/about/image5.jpg" alt=" " />
            <h4>Sứ mệnh</h4>
            <p>
              Glowy ra đời với sứ mệnh lan tỏa thông điệp “Luôn là chính mình -
              Tự tin tỏa sáng” để có thể truyền tải đến mọi người một điều rằng,
              mỗi người chúng ta đều có trong mình một vẻ đẹp riêng, cá tính và
              cốt cách không hề giống nhau và cũng chẳng hề theo một khuôn mẫu
              được quy định sẵn nào. Ngoài ra,
              Glowy xác định sứ mệnh cốt lõi của mình đó chính là dẫn đầu về
              chất lượng, giá cả phải chẳng. Glowy cam kết sản phẩm của thương
              hiệu hoàn toàn được nghiên cứu và sản xuất ở các viện nghiên cứu
              uy tín hàng đầu uy tín, có xuất xứ 100% rõ ràng từ các thương hiệu
              mỹ phẩm nổi tiếng, chất lượng cao trên thế giới nhưng vẫn có mức
              giá phù hợp, phải chăng với thị trường Việt Nam.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="about__item">
            <img src="../../assets/images/about/image6.jpg" alt=" " />
            <h4>Kinh nghiệm</h4>
            <p>
              Với kinh nghiệm lâu năm trong lĩnh vực Làm đẹp và Chăm sóc sức
              khỏe tại thị trường Châu Á, chúng tôi muốn mang lại những trải
              nghiệm mua sắm đặc biệt và thú vị thông qua mô hình “bán hàng trực
              tuyến” . Glowy được hỗ trợ bởi hệ thống các nhà cung cấp uy tín
              toàn cầu để đem đến những sản phẩm mới nhất từ các thương hiệu nổi
              tiếng quốc tế cho người tiêu dùng. 
              Việt Nam nổi tiếng là một thị trường đang phát triển và thích ứng
              xu thế nhanh. Với nền tảng công nghệ cao, chúng tôi cũng sẽ mang
              đến những trải nghiệm về Thương mại điện tử tốt nhất cùng những ưu
              đãi đặc biệt dành riêng cho người tiêu dùng hiện đại ngày càng
              tăng tại Việt Nam.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section End -->

  <!-- Testimonial Section Begin -->
  <section class="discover">
    <div class="container">
      <h3>Điều khoản dịch vụ</h3>
      <div class="row">
        <div class="col-lg-6 p-0">
          <div class="discover__text mx-2">
            <p>
              Khi quý khách hàng truy cập vào trang website của chúng tôi có
              nghĩa là quý khách đồng ý với các điều khoản này. Trang web có
              quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong
              Điều khoản mua bán hàng hóa này, vào bất cứ lúc nào. Các thay đổi
              có hiệu lực ngay khi được đăng trên trang web mà không cần thông
              báo trước. Và khi quý khách tiếp tục sử dụng trang web, sau khi
              các thay đổi về Điều khoản này được đăng tải, có nghĩa là quý
              khách chấp nhận với những thay đổi đó.
            </p>
          </div>
        </div>
        <div class="col-lg-6 p-0 about__item">
          <img  src="../../assets/images/about/image7.jpg" alt=" " />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 p-0 about__item">
          <img src="../../assets/images/about/image8.jpg" alt=" " />
        </div>
        <div class="col-lg-6 p-0">
          <div class="discover__text mx-2">
            <p>
              Khi vào web của chúng tôi, khách hàng phải đảm bảo đủ 18 tuổi,
              hoặc truy cập dưới sự giám sát của cha mẹ hay người giám hộ hợp
              pháp. Khách hàng đảm bảo có đầy đủ hành vi dân sự để thực hiện các
              giao dịch mua bán hàng hóa theo quy định hiện hành của pháp luật
              Việt Nam.
            </p>
            <p>
              Trong suốt quá trình đăng ký, quý khách đồng ý nhận
              email quảng cáo từ website. Nếu không muốn tiếp tục nhận mail, quý
              khách có thể từ chối bằng cách nhấp vào đường link ở dưới cùng
              trong mọi email quảng cáo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
